label.error{
	color: red !important;
	font-size: 12px;
    margin-bottom: 0;
}

label.error-msg{
	color: red !important;
	font-size: 12px;
    margin-bottom: 0;
}

.require:after{
	content: '*' !important;
    color: red;
}

.pac-container {
	z-index: 1400 !important;
}